body {
  background: #f3f7f8;
  text-align: center;
  margin: 1rem;
  font-family: Montserrat;
}

a, u {
  text-decoration: none; !important
}

input, {
  background: #fff;
  /* border-radius: 50px; */
}

button {
  text-decoration: none; !important
  background: #fff;
}
