.novreads-text {
  text-align: left;
  margin: 1rem;
}

.profile-nav-text {
  margin: 1rem;
  text-align: left;
  border-bottom: 1px solid;
}

.hand {
  cursor: pointer;
}

.list {
  margin: 0.3rem;
}
